   {% extends "base.html" %}
   {% block title %} Editar Perfil Usuario {% endblock title%}   
   {% block content %}            
        <!--BODY-->
        <div>
            <h1 class="center-align titulo">Editar Perfil Usuario</h1>
        </div>
        <div class="row">
            <div class="login-box">    
                        <div class="login-text-box">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" placeholder="Nuevo Nombre" name="Nombre" id="Nombre" value="">
                        </div>
                        <div class="login-text-box">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" placeholder="Nuevo Apellido" name="Apellido" id="Apellido" value="">
                        </div>
                        <div class="login-text-box">                    
                            <input type="text" placeholder="Nuevo Nick Name" name="NickName" id="NickName" value="">
                        </div>
                        <div class="login-text-box">                    
                            <input type="number" placeholder="Edad" name="Edad" id="Edad" value="" min="5" max="99" >
                        </div>             
                        <div class="login-text-box">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="password" placeholder="Nueva Contraseña" name="Contraseña" id="Contraseña" value="" >
                        </div>                                            
                        <a href="{% url 'e_perfil' %}" class="btn btn-sucess btn-lg btn-block" name="" type="submit">Aceptar Cambios</a>
                        <a href="{% url 'regresar_adm' %}" class="btn btn-danger btn-lg btn-block" name="" type="submit">Atras</a>
            </div>            
        </div>    
                            
        {% endblock content %}
