{% extends "baseU.html" %}
{% load static %}
{% block title %} Mis Palabras {% endblock title%}   
{% block content %}
 <!--BODY-->
 <div>
   <h1 class="center-align titulo">Modifique las 10 palabras</h1>
 </div>
<form method="POST">
{% csrf_token %}
<div class="row register-box">
  <!-- <div class="col-4"></div> -->
  <div class="col-md-3">

    <div class="login-text-box form-group">
      <label for="{{fcde.cardes1.id_for_label }}" class="col-sm-8">{{fcde.cardes1.label}}</label>
      <i class="fa fa-user" aria-hidden="true"></i>
      <div class="col-sm-12">{{fcde.cardes1}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes2.id_for_label }}" class="col-sm-8">{{fcde.cardes2.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes2}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes3.id_for_label }}" class="col-sm-8">{{fcde.cardes3.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes3}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes4.id_for_label }}" class="col-sm-8">{{fcde.cardes4.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes4}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes5.id_for_label }}" class="col-sm-8">{{fcde.cardes5.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes5}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes6.id_for_label }}" class="col-sm-8">{{fcde.cardes6.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes6}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes7.id_for_label }}" class="col-sm-8">{{fcde.cardes7.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes7}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes8.id_for_label }}" class="col-sm-8">{{fcde.cardes8.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes8}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes9.id_for_label }}" class="col-sm-8">{{fcde.cardes9.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes9}}</div>
  </div>
  <div class="login-text-box form-group">
    <label for="{{fcde.cardes10.id_for_label }}" class="col-sm-8">{{fcde.cardes10.label}}</label>
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class="col-sm-12">{{fcde.cardes10}}</div>
  </div>
  <input href="{% url 'gusto' user.get_username%}" id="btn1" class="btn btn-sucess btn-lg btn-block" type="submit" value="Aceptar">
  <a href="{% url 'gusto' user.get_username %}" class="btn btn-danger btn-lg btn-block" >Regresar</a>
</div>
</div>
</form>



 <!--FOOTER-->
 {% endblock content %}